.root {
    -fx-background-color: rgb(0, 150, 94);
    -fx-font-family: "Genos, sans-serif";
    -fx-font-size: 14px;
    -fx-text-fill: white;
    }
@font-face {
     font-family: "Genos, sans-serif";
     src: url("/resources/font/Genos-Regular.ttf");
   }
.top-button, .confirmation-button {
    -fx-background-color: black;
    -fx-text-fill: white;
    -fx-font-family: "Genos", sans-serif;
    -fx-font-weight: bold;
    -fx-background-radius: 10px;
    }
.confirmation-button {
    -fx-max-height: infinity;
}
.prompt-label {
    -fx-text-fill: white;
    -fx-font-size: 15px;
    -fx-font-family: "Genos", sans-serif;
}
.input-horizontal-area {
    -fx-fill-height: true;
}

.feedback-label {
    -fx-background-color: rgb(0, 150, 94);
    -fx-control-inner-background: rgb(0, 150, 94);
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-border-width: 0;
    -fx-border-color: transparent;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-padding: 0;
}