.root {
    -fx-background-color: rgb(0, 150, 94);
    -fx-font-size: 20px;
    -fx-text-fill: white;
}

* {
    -fx-font-family: "Genos";
}

.left-wrapper {
    -fx-pref-width: 200px;
    -fx-min-width: 100px;
    -fx-max-width: 200px;
}

.right-wrapper {
    -fx-pref-width: 80px;
}

.prompt-label {
    -fx-text-fill: white;
    -fx-font-size: 20px;
}

.feedback-label {
    -fx-background-color: rgb(0, 150, 94);
    -fx-control-inner-background: rgb(0, 150, 94);
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-border-width: 0;
    -fx-border-color: transparent;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-padding: 0;
    -fx-text-fill: white;
    -fx-wrap-text: true;
}

.top-button, .confirmation-button, .minimize-button {
    -fx-background-color: black;
    -fx-text-fill: white;
    -fx-font-weight: bolder;
    -fx-background-radius: 10px;
    }

.confirmation-button {
    -fx-max-height: infinity;
}

.minimize-button {
    -fx-pref-height: 400px;
    -fx-pref-width: 80px;
    -fx-min-width: 80px;
}

.grid-layout > * {
    -fx-text-fill: white;
    -fx-font-size: 25px;
}
.grid-layout > Label {
    -fx-padding: 5;
}